.patrocinadores {
    padding: 2em;
    padding-bottom: 1em;
}

.patrocinadores-container {
    padding: 1em;
    margin-top: 1em;
    background: var(--zinc-300);
    border-radius: 1em;
    border: 1px solid var(--zinc-600);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.patrocinadores-container::-webkit-scrollbar {width: 0px;}