
#about {
    padding-top: 5em;
    padding-bottom: 1em;
}

.about-card-right-buttons {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.about-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
    justify-content: center;
}

.about-card-float_img {
    z-index: -1;
    position: absolute;
    height: 10em;
    opacity: .5;
    left: -6em;
}

@media only screen and (max-width: 1000px) {
    .about-card-float_img {
        display: none;
    }
}
