#blog {
    padding-top: 5em;
    padding-bottom: 1em;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.blog-card {
    width: 100%;
    max-width: 500px;
    padding: 1em;
    background: var(--light);
    border-radius: .5em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.blog-card h1 {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    color: var(--dark);
}

.blog-card h2 {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: normal;
}

.blog-card-topics {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.blog-card-topics span {
    padding: .5em;
    color: var(--light);
    background: var(--primary);
    border-radius: .5em;
}

.blog-card-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.blog-card-image img {
    width: 100%;
    border-radius: .5em;
}