.news-section {
    padding: 2em;
    padding-top: 1em;
}

.news-card {
    display: block;
    padding-top: 1.5em;
    transition: all ease .2s;
    text-decoration: none;
    margin-right: 1em;
}

.news-card:hover {
    transform: translateY(-10px);
}

.news-card-container {
    width: 290px;
    position: relative;
    border-radius: 1em;
    border: 1px solid var(--zinc-600);
    background: var(--zinc-800);
}

.news-card-image {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.news-card-label {
    position: absolute;
    left: 1em;
    top: 1em;
    background: rgba(63, 63, 70, .8);
    padding: .5em 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
    color: var(--zinc-100);
    font-size: 1rem;
}

.news-card-label svg {
    width: 1em;
    height: 1em;
    fill: var(--zinc-100);
}

.news-card-label img {
    width: 1em;
}

.news-card-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.news-card-content::-webkit-scrollbar {width: 0px;}

.news-card-content h3 {
    color: var(--zinc-100);
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
    text-align: left;
    z-index: 111;
    text-wrap: wrap;
    cursor: pointer;
}

.news-card-content h4 {
    z-index: 111;
    text-wrap: wrap;
    cursor: pointer;
    font-weight: normal;
    color: var(--zinc-100);
    background: var(--zinc-700);
    border-radius: 1em;
    padding: .5em 1em;
}

.news-card-content_container {    
    margin-top: .5em;
    display: flex;
    justify-content: left;
}

.news-card-content time {
    text-align: left;
    color: var(--zinc-100);
    margin-bottom: .5em;
    display: block;
    font-style: italic;
}

.news-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news-card-content-img_container_float img {
    width: 2em;
}

.news-card-content-img_container_float {    
    position: absolute;
    left: 1em;
    bottom: 1em;
    padding: .5em;
    background: rgba(63, 63, 70, .8);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_wb {
    filter: grayscale(100%);
}

.news-container {
    mask: linear-gradient(90deg, rgba(8, 6, 20, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.news_page .news-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 5em;
    justify-content: center;
}