#projects {
    padding-top: 5em;
    padding-bottom: 1em;
}

.project-card {
    padding: 1em;
    background: var(--primary);
    border-radius: .5em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.project-card span {
    font-size: 1.2rem;
    font-style: italic;
}

.project-card h2 {
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
}

.project-card p {
    font-size: 1.2rem;
}

.project-card-links {
    display: flex;
    align-items: center;
    gap: .5em;
    margin-top: .5em;
}

.project-card-links a {
    border: 1px solid var(--light);
    color: var(--light);
    font-size: 1.2rem;
}

.project-card-links a:hover {
    background: var(--dark);
}

.project-card-links a span {
    font-style: normal;
}

.project-card-links a svg {
    width: 1em;
    height: 1em;
    fill: var(--light);
}

#pf-years-select {
    font-size: 1.2rem;
    border: 0;
    background: 0;
    color: var(--light);
    padding: .5em 1em;
    cursor: pointer;
    transition: 200ms;
}

.pf-years {
    background: var(--primary);
    border-radius: .5em;
    cursor: pointer;
    padding-right: .6em;
    transition: 200ms;
}

.pf-years:hover {
    background: var(--light);
}

.pf-years:hover #pf-years-select {
    color: var(--primary);
}

.pf-years-option {
    color: var(--dark);
}
.projects-filters {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.pf-type-container {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.pf-type input {
    display: none;
}

.pf-type label {
    border: 1px solid var(--primary);
    padding: .5em 1em;
    font-size: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: 200ms;
}

.pf-type label:hover {
    background: var(--primary);
}

.pf-type input[type="radio"]:checked + label {
    background: var(--primary);
}

.pf-type input[type="radio"]:checked + label:hover {
    background: var(--light);
    color: var(--primary);
    border: 1px solid var(--light);
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

@media only screen and (max-width: 1125px) {
    .projects-filters {
        gap: 1em;
    }
    #pf-years-select {
        width: 100%;
        min-width: 5em;
    }
    .pf-years {
        flex: 1;
    }
}

@media only screen and (max-width: 430px) {
    .pf-type {
        display: none;
    }
}




.pagination-button {
    padding: .5em 1em;
    font-size: 1.2rem;
    border: 1px solid var(--primary);
    cursor: pointer;
    margin-right: .5em;
    border-radius: .5em;
    color: var(--light);
    background: transparent;
    transition: 200ms;
}
.pagination-button.active {
    background: var(--primary);
}


.pagination-button:hover {
    transform: translateY(-3px);
}