.projects-highlight {
    padding: 2em;
    padding-bottom: 0;
    margin-top: 5rem;
}

.projects-highlight-title-container {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.projects-highlight-title-container a {
    text-decoration: none;
    color: var(--zinc-100);
    display: flex;
    align-items: center;
    gap: .5em;
}

.projects-highlight-title-container a svg {
    width: 1em;
    height: 1em;
    fill: var(--zinc-100);
}
.projects-highlight-card {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin-right: 1em;
    margin-top: 1em;
    transition: all ease .2s;
}

.projects-highlight-card-container {
    width: 290px;
    height: 400px;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    transition: all ease .2s;
    gap: .5em;
    padding: 1em;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid var(--zinc-600);
}

.projects-highlight-card h3 {
    color: var(--zinc-100);
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "EB Garamond", serif;
    cursor: default;
    text-transform: uppercase;
}

.projects-highlight-card span {
    color: var(--zinc-100);
    font-size: 1rem;
    cursor: pointer;
    font-style: italic;
    text-align: center;
    z-index: 11;
    text-align: center;
}

.projects-highlight-card h4 {
    color: var(--zinc-100);
    font-weight: normal;
    font-size: 1rem;
    opacity: 1;
    transition: all ease .4s;
}

.projects-highlight-card h3, .projects-highlight-card h4 {
    text-align: center;
    cursor: pointer;
    z-index: 11;
}

.projects-highlight-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.projects-highlight-card-background img {
    height: 100%;
    object-fit: cover;
}

.projects-highlight-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgb(24, 24, 27, .8);
    z-index: 0;
    opacity: 1;
    transition: all ease .2s;
}

.projects-highlight-card-container:hover .projects-highlight-card-overlay {
    opacity: .7;
}

.projects-highlight-card-container::-webkit-scrollbar {width: 0px;}

.projects-arrows {
    display: flex;
    justify-content: right;
    margin-top: 1em;
    gap: .5em;
}

.projects-arrows button {
    background: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.projects-arrows button svg {
    width: 1em;
    height: 1em;
    fill: var(--zinc-100);
}


.projects-highlight-card:hover {
    transform: translateY(-10px);
}


.projects-highlight-container {
    padding-top: .5em;
    mask: linear-gradient(90deg, rgba(8, 6, 20, 1) 90%, rgba(0, 0, 0, 0) 100%);
}
