#shop {
    /* padding-top: 3em; */
    padding-bottom: 1em;
}

.shop-card {
    margin-top: 1em;
    padding: 1em;
    background: var(--light);
    border-radius: .5em;
    display: flex;
    align-items: stretch;
    gap: 1em;
}

.shop-card-child_0 {
    background: var(--primary);
    padding: 1em;
    width: 50%;
    height: fit-content;
    border-radius: .5em;
    margin-left: -3em;
    
}

.shop-card-child_0 img {
    width: 100%;
}

.shop-card-child_2 {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.shop-card-child_2 h2 {
    font-size: 2rem;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
}

.shop-card-child_2 p {
    font-size: 1.2rem;
}

.shop-card-child_2-labels {
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.shop-card-child_2-labels span {
    font-size: 1.2rem;
    padding: .5em;
    border-radius: .5em;
    color: var(--light);
    cursor: default;
    background: var(--dark);
}

.shop-card-child_2 a {
    display: inline-flex;
    padding: .5em 1em;
    border-radius: .5em;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--light);
    background: var(--primary);
}

.shop-card-type2 {
    flex-direction: row-reverse;
}

.shop-card-type2 .shop-card-child_0 {
    margin-left: unset;
    margin-right: -3em;
}

@media screen and (max-width: 950px) {
    .shop-card {
        flex-direction: column;
    }

    .shop-card-child_0 {
        width: unset;
        height: 10em;
        display: flex;
        justify-content: center;
        margin-left: unset;
    }

    .shop-card-child_0 img {
        height: 100%;
        width: auto;
    }

    .shop-card-type2 .shop-card-child_0 {
        margin-right: unset;
    }
}