#home {
    height: 100vh;
    background: url('../../assets/dps/asset-11.jpg');
    background-size: cover;
    position: relative;
}
#home img {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 950px) {
    #home img {width: 60%;}
}
@media screen and (max-width: 700px) {
    #home img {width: 70%;}
}
@media screen and (max-width: 600px) {
    #home img {width: 80%;}
}


/* ----- SLIDER ----- */
#sponsors {
    background: var(--light);
    width: 100%;
    height: unset;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;}
@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-250px * 8));}}
#sponsors .sponsors-content {
    align-items: center;
    justify-content: center;}
#sponsors .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    width: auto;
    position: relative;}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 16);}
.slider .slide {
    height: 100px;
    width: 250px;}
.slider .slide img {
    filter: grayscale(100%);
}
@media screen and (max-width: 669px) {
    .sponsors-content {transform: scale(.8);}
    #sponsors {padding-left: .5em;padding-right: .5em;}
}

#schedule {
    width: 100%;
    height: unset;
    height: 100%;
    padding: 2em;
    background: url('../../assets/dps/asset-19.jpg');
    background-size: cover;}
.schedule-content {
    padding: 3em;
    position: relative;
    width: 100%;
    text-align: center;}
.schedule-content img {width: 50%;}
@media screen and (max-width: 750px) {.schedule-content img {width: 90%;}}

.ac-left-2 {
    height: fill;
    width: 20em;
    background: url('../../assets/dps/asset-17.jpg');
    background-size: cover;
    border-radius: 5px;
}