footer {
    padding: 5em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-direction: column;
    background: var(--zinc-800);
    position: relative;
    overflow: hidden;
}

.footer-row1 {
    display: flex;
    justify-content: center;
    gap: 3em;
    justify-content: left;

}

.footer-row1 nav {
    display: flex;
    flex-direction: column;
    gap: .3em;
    justify-content: end;
}

footer p {
    color: var(--zinc-100);
}

footer a {
    color: var(--zinc-100);
    position: relative;
    text-decoration: none;
    text-align: left;
    text-wrap: nowrap;
}

footer p a {
    color: var(--zinc-100);
    text-wrap: wrap !important;
}


footer a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    background: var(--zinc-100);
    width: 0%;
    height: 1px;
    transition: all ease .2s;
}

footer a:hover::after {
    width: 100%;
}

@media screen and (max-width: 750px) { 
    footer {
        padding: 2em;
    }
    .footer-row1 { 
        flex-wrap: wrap;
        gap: 1em;
    }
}

.footer-logo {
    opacity: .3;
    z-index: 0;
    position: absolute;
    left: -50%;
    top: -50%;
}

.footer-logo img {
    width: 150vw;
    height: auto;
}

@media screen and (max-width: 600px) {
    .footer-logo img {
        width: auto;
        height: 130vh;
    }
}