footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background: var(--light);
    margin-top: 1em;
}

#fn-left img {
    width: 4em;
    margin-bottom: 1em;
}
#fn-right a {
    text-decoration: none;
}

.fnr-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin-bottom: .5em;
}

.fnr-up a  {
    display: flex;
    align-items: center;
    gap: .5em;
}

.fnr-down a {
    margin-left: .3em;
}

#fnr-p {
    margin-bottom: .5em;
}

footer * {
    color: var(--dark);
}

footer svg {
    width: 1em;
    height: 1em;
}

#footer-other-pages {
    margin-top: 1em;
    background: var(--dark);
}
#footer-other-pages * {
    color: var(--light);
}