/* ----- KRYLON ----- */
@font-face {
    font-family: 'Krylon';
    src: url('/include/fonts/krylon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  

/* ----- MONTSERRAT: Bold ----- */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/include/fonts/montserrat-bold.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ----- MONTSERRAT: Italic ----- */
@font-face {
    font-family: 'Montserrat-Italic';
    src: url('/include/fonts/montserrat-italic.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* ----- MONTSERRAT: Light ----- */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('/include/fonts/montserrat-light.TTF') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

/* ----- MONTSERRAT: Regular ----- */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/include/fonts/montserrat-regular.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----- MONTSERRAT: Thin ----- */
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('/include/fonts/montserrat-thin.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
}
