body {
    color: var(--light);
    background: var(--dark);
}

* {
    font-family: "Roboto", sans-serif;
}

.section-width {
    width: 65%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .section-width {
        width: 90%;
    }
}

.a-link-default {
    padding: .5em 1em;
    display: flex;
    align-items: center;
    gap: .5em;
    text-decoration: none;
    border-radius: .5em;
    transition: 200ms;
}

.a-link-default svg {
    width: 1em;
    height: 1em;
}

.a-link-default:hover {
    transform: translateY(-3px);
}

.a-link-primary {
    background: var(--primary);
    color: var(--light);
}

.a-link-primary svg {
    fill: var(--light);
    transition: 200ms;
}

.a-link-primary:hover {
    background: var(--light);
    color: var(--primary);
}

.a-link-primary:hover svg {
    fill: var(--primary);
}

.a-link-secondary {
    border: 1px solid var(--light);
    color: var(--light);
}

.a-link-secondary svg {
    fill: var(--light);
}

.a-link-secondary:hover {
    background: var(--primary);
    border: 1px solid var(--primary);
}

.default-h1-title {
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
    font-size: 3rem;
}