#photogallery {text-align: center;width: 100%;}
.pc-separator{margin: 1em;}
.pc-separator span {
    font-family: 'Montserrat';
    color: var(--color-light);
}
#go-back-btn {
    font-family: 'Montserrat';
    position: relative;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;}
#go-back-btn:hover {box-shadow: var(--default-box-shadow);}
.gb-container {text-align: center;margin: 1em;}