#home {
    height: 50vh;
}

.home-dps24 {
    background: url('../../../assets/projects/dps24/asset-11.jpg') no-repeat center center fixed;
    background-size: cover;
}

.home-tejiendo-historia {
    background: url('../../../assets/photogallery/2024/extrajob-sanjorge-01.jpg') no-repeat center center fixed;
    background-size: cover;
}

.home-dps25 {
    background: url('../../../assets/projects/dps25/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.home-asoc {
    background: url('../../../assets/banners/banner-01.webp') no-repeat center center fixed;
    background-size: cover;
}

.template-separator {
    height: 5em;
}

.pre-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pre-img-container img {
    max-height: 15em;
    width: auto;
}

@media only screen and (max-width: 750px) {
    .pre-img-container img {
        height: 10em;
    }
}

@media only screen and (max-width: 500px) {
    .pre-img-container img {
        height: 7em;
    }
}


.photogallery-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}