:root {
    --font: "Roboto", system-ui;
    --background: var(--zinc-900);
}

body {
    font-family: var(--font);
    background: var(--background);
}

.content-size-90 {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.default-title {
    color: var(--zinc-100);
    font-size: 2rem;
    font-weight: 100;
    font-family: "EB Garamond", serif;
    cursor: default;
    text-transform: uppercase;
}

html {scroll-behavior: smooth;}

.docs {
    padding: 2em;
}

.docs-container {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.docs-container a {
    color: var(--zinc-100);
    text-decoration: none;
    position: relative;
}

.docs-container a::after {
    position: absolute;
    content: "";
    bottom: -2px;
    height: 1px;
    width: 100%;
    background: var(--zinc-100);
    left: 50%;
    transform: translateX(-50%);
}