
.pc-container h2 {
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.pc-container {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    gap: 2em;}
.pc-card {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 10px;}
.pc-img-container {transition: transform .1s ease;}  
.pc-img-container:hover {transform: scale(1.1);}
.pc-card img {
    width: 100%;
    opacity: .6;
    transform: translate(0,0);
    transition: opacity .25s ease-in-out;}
.pc-card img:hover {opacity: 1;}
@media screen and (max-width: 1500px) {.pc-container {flex-direction: column;width: 100%;}.pc-card img{width: 100%;}}